body {
  color: #c8c8c8;
  background: #000 url("../images/jazz_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: contain;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 300px;
  padding-left: 20px;
  /*this is for header*/
  /*aligns images horizontally*/ }
  body h1 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #fff;
    max-width: 100%; }
  body h2 {
    color: #c8c8c8;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px; }
  body h3 {
    color: #c8c8c8;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px; }
  body ul {
    text-align: left; }
  body img {
    max-width: 100%;
    height: auto; }
  body section {
    text-align: center; }
  body footer {
    color: #000;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    max-width: 100%; }
  body a:link {
    color: #666699; }
  body a:hover {
    color: #cc00cc;
    text-decoration: none; }
  body * {
    box-sizing: border-box; }
  body .album_image {
    width: 80%;
    height: 80%;
    border: 3px solid #fff;
    border-radius: 3px; }
  body .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center; }
  body .align_left {
    text-align: left;
    padding-left: 100px;
    padding-right: 20px; }
